{%extends 'base.html'%} {%load static%} {% block title %} Homepage {% endblock %}{% block page_header %}
<div class="page-header"></div>
{% endblock %} {%block content%}
<div class="jumbotron my-5 m-md-5">
    <div class="row justify-content-center">
        {%if artist.image%}
        <div class="col-12 col-lg-3 featured-artist-img"><img src="{{artist.image.url}}" class="rounded-circle" alt="{{artist}}" /></div>
        {%else%}
        <div class="col-12 col-lg-3 featured-artist-img"><img src="{% static 'img/logo.png'%}" class="" alt="logo" /></div>
        {%endif%}
        <div class="col-12 col-md-7">
            <h1 class="text-uppercase mb-3">Featured Artist:</h1>
            {%if artist%}
            <h2 class="text-uppercase mb-2">{{artist}}</h2>
            {%else%}
            <h2 class="text-uppercase mb-2">Stay Tuned...</h2>
            {%endif%} {%if artist.bio%}
            <blockquote class="blockquote">{{artist.bio|truncatewords:60}}</blockquote>
            {%else%}
            <blockquote class="blockquote">New Featured Artist coming soon!</blockquote>
            {%endif%}{%if artist.bio and artist.full_name%}
            <div class="jumbotron row m-md-5 justify-content-center">
                <div class="wrap">
                    <a class="slider-btn slider-btn-more-art" href="{%url 'public_profile' artist.pk%}">Learn More</a>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div>

<div class="jumbotron row m-md-5 justify-content-center">
    <div class="wrap">
        <a class="slider-btn slider-btn-more-art" href="{%url 'gallery'%}">More art</a>
    </div>
</div>
{%endblock%}
