{%extends 'base.html'%} {%load static%} {% block page_header %}
<div class="page-header"></div>
{% endblock %} {%block content%}
<div class="jumbotron my-5 m-md-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3 featured-art-img">
            <a href="{{ artwork.image.url }}" target="_blank"><img class="align-self-center mt-3" src="{{artwork.image.url}}" alt="{{artwork.title}}" /></a>
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col-12 text-center">
                    <small>
                        <a class="text-uppercase text-muted" href="{% url 'edit_art' artwork.id %}">Edit</a> |
                        <a class="text-uppercase text-muted" href="{% url 'delete_art' artwork.id %}">Delete</a>
                    </small>
                </div>
            </div>

            {% endif %}
        </div>

        <div class="col-12 col-md-7">
            <h3 class="text-uppercase mt-3">{{artwork.title}}</h3>
            <h4 class="text-uppercase lead">{{artwork.artist}} {{artwork.date}}</h4>
            <hr />
            <blockquote class="blockquote">{{artwork.description}}</blockquote>
            <blockquote class="blockquote">{{artwork.medium}}</blockquote>
            <p class="text-muted">{%if artwork.framed%}Mounted/Framed | {%endif%}{%if artwork.length%}{{artwork.length}}cm x {%endif%}{%if artwork.width%}{{artwork.width}}cm x {%endif%}{%if artwork.depth%}{{artwork.depth}}cm | {%endif%}{%if artwork.weight%}{{artwork.weight}}kg{%endif%}{%if artwork.duration%}{{artwork.duration}}s {%endif%}</p>
            {%if artwork.sold%}
            <span class="badge badge-secondary price-tag" id="price">Sold</span>
            {%else%}
            <span class="badge badge-secondary price-tag" id="price">£{{artwork.price}}</span>
            {%endif%} {%if artwork.sold is False%}
            <form class="form" action="{% url 'add_to_basket' artwork.id %}" method="POST">
                {% csrf_token %}

                <div class="col-12 px-0">
                    <p class="mt-3"><strong>Quantity:</strong> (Max <span class="available">{{artwork.qty}}</span>)</p>
                    <div class="form-group w-50">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button class="decrement-qty btn btn-black rounded-0" data-item_id="{{artwork.id}}" id="decrement-qty_{{artwork.id}}">
                                    <span class="icon"><i class="fas fa-minus"></i></span>
                                </button>
                            </div>
                            <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="{{artwork.qty}}" data-item_id="{{ artwork.id }}" id="id_qty_{{ artwork.id }}" />
                            <div class="input-group-append">
                                <button class="increment-qty btn btn-black rounded-0" data-item_id="{{artwork.id}}" id="increment-qty_{{artwork.id}}">
                                    <span class="icon"><i class="fas fa-plus"></i></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-5 justify-content-around">
                    <div class="wrap">
                        <a class="slider-btn slider-btn-back" href="{% url 'gallery' %}">Back</a>
                    </div>
                    <div class="wrap">
                        <button class="slider-btn slider-btn-buy" target="submit">Buy</button>
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                </div>
            </form>
            {%else%}
            <div class="row my-5 justify-content-around">
                <div class="wrap">
                    <a class="slider-btn slider-btn-back" href="{% url 'gallery' %}">Back</a>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div>

{%endblock%} {%block postloadjs%} {{block.super}}
<script src="{% static 'js/controls.js' %}"></script>

{%endblock%}
