{%extends 'base.html'%} {%load static%} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" charset="utf-8" />

{% endblock %}{% block page_header %}
<div class="page-header"></div>
{% endblock %} {%block content%}
<div class="container">
    <div class="row"><h1 class="my-5 mx-4">Gallery</h1></div>
    <main class="page-content">
        {%for art in artworks%} {%if art.sold is False %}
        <a href="{%url 'art_detail' art.id%}"
            > <span class="badge badge-secondary price-tag">£{{art.price|floatformat:"0"}}</span>
            <div class="card">
                <!-- add background image based on  -->
                <div class="card-bg" style="background-image: url({{art.image.url}});">
                    <div class="content">
                        <h2 class="title">{{art.title|truncatechars:95}}</h2>
                        <p class="copy">{{art.artist}}</p>
                    </div>
                </div>
            </div>
        </a>
        {%else%} {%endif%} {%endfor%}
    </main>

    {%endblock%}
</div>
