{%extends 'base.html'%} {%load static%} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" charset="utf-8" />

{% endblock %}{% block page_header %}
<div class="page-header"></div>
{% endblock %} {%block content%}
<div class="container">
    <div class="row"><div class="col-12"><h1 class="my-5 mx-1 text-center text-md-left">Gallery</h1></div>
     </div><div class="row">
          <div class="col-12 ">
            
            {%if search_string or categories or sorting != 'None_None' %}
            <a class="btn search-btn border-black rounded-0" href="{% url 'gallery' %}" id="reset">
                            <span class="icon">
                                <i class="fas fa-undo"></i>                            </span>
                        </a><p class="text-muted mt-3 text-left small mb-0 d-inline-block">
                        
            {%endif%}
             <span class="reset-text">{{artworks|length}} results{%if search_string%} found for <strong>"{{search_string}}"</strong>{%endif%}</span>
            </p> 
        </div></div>
    <div class="row">
        <div class="col-12 col-md-8 mb-3">
            <form method="GET" action="{% url 'gallery' %}">
                <div class="input-group w-100">
                    <div class="input-group-append">
                        <button class="form-control btn search-btn border border-black rounded-0" type="submit" id="btn-search">
                            <span class="icon">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                    <input class="form-control border border-black rounded-0" type="text" name="search" placeholder="Search Title, Artist, Description and medium" />
                </div>
            </form>
        </div>
        <div
          class="col-12 col-md-4 my-auto order-md-last d-flex justify-content-center justify-content-md-end"
        >
        <div class="row">
          <div class="sort-select-wrapper w-100 mb-3">
            <select
              id="sort-selector"
              class="custom-select rounded-0 {%if current_sorting != 'None_None' %}border-info{%else%}{%endif%}"
            >
            <option value="reset" {%if current_sorting == 'None_None' %}selected{%endif%}>Sort by...</option> 
            <option value="price_asc" {%if current_sorting == 'price_asc' %}selected{%endif%}>Price (low to high)</option> 
            <option value="price_desc" {%if current_sorting == 'price_desc' %}selected{%endif%}>Price (high to low)</option> 
            <option value="artist_asc" {%if current_sorting == 'artist_asc' %}selected{%endif%}>Artist (A to Z)</option> 
            <option value="artist_desc" {%if current_sorting == 'artist_desc' %}selected{%endif%}>Artist (Z to A)</option> 
            <option value="title_asc" {%if current_sorting == 'title_asc' %}selected{%endif%}>Title (A to Z)</option> 
            <option value="title_desc" {%if current_sorting == 'title_desc' %}selected{%endif%}>Title (Z to A)</option> 
            <option value="category_asc" {%if current_sorting == 'category_asc' %}selected{%endif%}>Category (A to Z)</option> 
            <option value="category_desc" {%if current_sorting == 'category_desc' %}selected{%endif%}>Category (Z to A)</option> 
            </select>
          </div></div>
          
        </div>
    </div>
    <main class="page-content">
    
        {%for art in artworks%} {%if art.sold is False %}
        <a href="{%url 'art_detail' art.id%}">
            <span class="badge badge-secondary price-tag">£{{art.price|floatformat:"0"}}</span>
            <div class="card">
                <!-- add background image based on  -->
                <div class="card-bg" style="background-image: url({{art.image.url}});">
                    <div class="content">
                        <h2 class="title">{{art.title|truncatechars:95}}</h2>
                        <p class="copy">{{art.artist}}</p>
                    </div>
                </div>
            </div>
        </a>
        {%else %} 
        <a href="{%url 'art_detail' art.id%}">
            <span class="badge badge-secondary price-tag">SOLD OUT</span>
            <div class="card sold">
                <!-- add background image based on  -->
                <div class="card-bg" style="background-image: url({{art.image.url}});">
                    <div class="content">
                        <h2 class="title">{{art.title|truncatechars:95}}</h2>
                        <p class="copy">{{art.artist}}</p>
                    </div>
                </div>
            </div>
        </a> 
        
        {%endif%} {%empty%}<p>There are no results. Currently the search does not search artists, however they are listed alphabetically in the menu.</p>{%endfor%}
    </main>
    <div class="top-button shadow-sm rounded-0">
<a class="top-link d-flex h-100">
<i class="fas fa-arrow-up text-black mx-auto my-auto"></i> 
</a> 
</div>

    {%endblock%}
    {%block postloadjs%}
{{block.super}}
<script src="{% static 'js/sort.js' %}"></script>


{%endblock%}

</div>
