{% extends "base.html" %} {%load static%} {% block title %} Order History{% endblock %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" charset="utf-8" />

<link rel="stylesheet" href="{% static 'css/sign_in.css' %}" type="text/css" charset="utf-8" />
{% endblock %} {% block page_header %}
<div class="page-header"></div>
{% endblock %} {%block content%}
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center mt-0">
        <div class="card px-0 pb-0 mb-3 col-11 col-lg-6" id="signup">
            <div class="col-12">
                <h1 class="my-5 mx-1 text-center text-uppercase">Account Management</h1>
            </div>
            <div class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                <!-- fieldsets -->
                <div class="align-self-center">
                    <ul id="progressbar">
                        <li class="active" id="account"><strong>Account</strong></li>
                    </ul>
                </div>
                <div class="col-12">
                    <p class="text-muted">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr class="text-uppercase">
                                    <th>Order No.</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>VAT</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:9 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date|date:"SHORT_DATE_FORMAT" }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            <li class="small">
                                                 {{ item.artwork.title|truncatechars:29 }} <br><span class="text-muted"> {{ item.artwork.artist }} </span><br> {{ item.artwork.medium|truncatechars:25 }} x {{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>£{{ order.vat_total }}</td>
                                    <td>£{{ order.grand_total }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-12 col-md-6 col-lg-3 ml-3 my-3">
                        <div class="wrap">
                            <a class="slider-btn slider-btn-home ml-3" href="{% url 'home' %}">Home</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 my-3">
                        <div class="wrap">
                            <button class="slider-btn slider-btn-signup text-nowrap" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
