{%extends 'base.html'%} {%load static%} {% load basket_calc %}{% block title %} Basket - {{ grand_total|floatformat:2 }}{% endblock %}{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" charset="utf-8" />

{% endblock %}{% block page_header %}
<div class="page-header"></div>
{% endblock %} {%block content%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="my-5 mx-1 text-center text-md-left">Basket</h1>
        </div>
    </div>
    <div class="row">
        
        <div class="col-12 col-lg-4">
            <h6><strong>Basket Total: £{{ sub_total|floatformat:2 }}</strong></h6>
            <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
            <h6>VAT: £{{ vat|floatformat:2 }}</h6>

            <h4 class="mt-4">
                <strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong>
            </h4>
            {%if basket_items%}
            
        </div>
        
        <div class="col-12 col-md-6 col-lg-3 my-3 ml-3">
            <div class="wrap">
                <a class="slider-btn slider-btn-more-art" href="{%url 'gallery'%}">More art</a>
            </div>
        </div><div class="col-12 col-md-6 col-lg-3 my-3 ml-3">
            <div class="wrap">
                <a class="slider-btn slider-btn-checkout" href="{%url 'checkout'%}">Checkout</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">{%else%}{%endif%}
            <hr />
            <h2 class="my-2 mx-1 text-center text-md-left">Basket Content:{%if basket_items%} <span class="text-muted">(qty: {{items_count}})</span>{%endif%}</h2>
        </div>
    </div>{%if basket_items%} 
    <main class="page-content">
        {%for each in basket_items%}
        <!-- Bag contents -->
        <div>
            <form method="POST" action="{% url 'remove_basket' each.item_id %}">
                                {% csrf_token %}
                <button class="text-danger remove-item badge badge-secondary price-tag delete-tag" id="remove_{{ each.item_id }}" type="submit">Remove</button></form>
            </button>
            <span class="badge badge-secondary price-tag">QTY: {{each.quantity}}</span>
            <span class="badge badge-secondary price-tag">£{{each.artwork.price|calc_subtotal:each.quantity|floatformat:"0"}}</span>
            <div class="card card-fade">
                <!-- add background image based on  -->
                <div class="card-bg sales-card" style="background-image: url({{each.artwork.image.url}});">
                    <div class="content">
                        <p class="copy">{{each.artwork.medium}}</p>
                        <p class="copy">{{each.artwork.artist}}</p>
                        <p class="title">{{each.artwork.title|truncatechars:95}}</p>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
        <!-- /Bag contents -->
    </main>
    {%else%}
    <!-- Bag Empty -->
    <div class="jumbotron row my-5 m-md-5 justify-content-center">
        <div class="col-12">
            <p class="lead mb-5 text-center">Your Bag is empty.</p>
        </div>
        <div class="wrap">
            <a class="slider-btn slider-btn-more-art" href="{%url 'gallery'%}">More art</a>
        </div>
    </div>
</div>
<!-- /Bag Empty -->
{%endif%} {%endblock%} {%block postloadjs%} {{block.super}}


{%endblock%}
