/* Font */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "latin_modern_mono_prop_li10Rg", "Times New Roman", Times, serif, sans-serif;
}

body {
    font-family: "Open Sans Condensed", sans-serif;
    background-color: whitesmoke;
}

/* Navbar */

body {
    background-color: #e5e9e9;
    font-size: 22px;
    line-height: 28px;
}
.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100px;
    padding: 0 25px;
    box-sizing: border-box;
    background-color:#1a1a1a;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    z-index: 100;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
}
.fixed-nav-bar .logo {
    position: absolute;
    left: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #ccc;
    font-size: 28px;
    font-weight: 300;
    cursor: pointer;
    font-family: "latin_modern_mono_prop_li10Rg", "Times New Roman", Times, serif, sans-serif;
}
.fixed-nav-bar .logo span {
    color: #e78533;
    font-weight: 600;
}

.fixed-nav-bar .logo-text {
    left: 100px;
}
.fixed-nav-bar.scrolled {
    min-height: 60px;
    background-color: #fdfdfd;
    box-shadow: 0 0 30px 3px rgba(0, 0, 0, 0.6);
}
.fixed-nav-bar.scrolled .logo {
    color: #000;
}
.fixed-nav-bar.scrolled .logo span {
    color: #000;
}
.fixed-nav-bar.scrolled .menu-button-label .white-bar,
.fixed-nav-bar.scrolled .menu-button-label2 .white-bar {
    background-color: #000;
}
.drop-down-container {
    height: 15%;
    width: 90%;
    left: 160%;
    margin-top: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.drop-down-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 8px;
    bottom: 0;
    background-color: #222;
}
.drop-down-item:before {
    content: "";
    position: absolute;
    right: -8px;
    height: 100%;
    width: 8px;
    -webkit-transition: 0.25s ease;
    transition: 0.25s ease;
    background: -webkit-gradient(linear, right top, left top, color-stop(50%, #e78533), color-stop(50%, #222));
    background: linear-gradient(to left, #e78533 50%, #222 50%);
    background-size: 200% 100%;
    background-position: left;
}
.drop-down-item:hover::before {
    background-position: right;
}
.the-bass {
    position: fixed;
    height: 0px;
    width: 360px;
    right: 0;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.35s ease, height 0.35s 0.3s ease;
    transition: 0.35s ease, height 0.35s 0.3s ease;
    z-index: 90;
}
.the-bass.scrolled {
    top: 60px;
}
.the-bass.dropped {
    height: 60vh;
    padding: 5px 0;
    -webkit-transition: 0.35s ease;
    transition: 0.35s ease;
}

.drop-down-item a {
    color: #e78533;
    font-family: "latin_modern_mono_prop_li10Rg", "Times New Roman", Times, serif, sans-serif;
    text-decoration: none;
    background-color: transparent;
    position: relative;
    top: 12px;
    left: 10px;
}
.the-bass.dropped .drop-down-container {
    left: 50%;
}
.the-bass.dropped .drop-down-container:nth-child(1) {
    -webkit-transition: 0.3s ease, left 0.4s 0.4s ease;
    transition: 0.3s ease, left 0.4s 0.4s ease;
}
.the-bass.dropped .drop-down-container:nth-child(2) {
    -webkit-transition: 0.3s ease, left 0.4s 0.46s ease;
    transition: 0.3s ease, left 0.4s 0.46s ease;
}
.the-bass.dropped .drop-down-container:nth-child(3) {
    -webkit-transition: 0.3s ease, left 0.4s 0.52s ease;
    transition: 0.3s ease, left 0.4s 0.52s ease;
}
.the-bass.dropped .drop-down-container:nth-child(4) {
    -webkit-transition: 0.3s ease, left 0.4s 0.58s ease;
    transition: 0.3s ease, left 0.4s 0.58s ease;
}
.the-bass.dropped .drop-down-container:nth-child(5) {
    -webkit-transition: 0.3s ease, left 0.4s 0.64s ease;
    transition: 0.3s ease, left 0.4s 0.64s ease;
}
.the-bass.dropped .drop-down-container:nth-child(6) {
    -webkit-transition: 0.3s ease, left 0.4s 0.7s ease;
    transition: 0.3s ease, left 0.4s 0.7s ease;
}
.menu-button-label2 {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    left: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.menu-button-label {
    position: absolute;
    height: 48px;
    width: 48px;
    top: 50%;
    right: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.menu-button-label .white-bar,
.menu-button-label2 .white-bar {
    position: absolute;
    height: 2px;
    width: 66%;
    background-color: #ccc;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.4s ease, width 0.3s ease;
    transition: 0.4s ease, width 0.3s ease;
}
.menu-button-label .white-bar:nth-child(1),
.menu-button-label2 .white-bar:nth-child(1) {
    top: 24%;
}
.menu-button-label .white-bar:nth-child(2),
.menu-button-label .white-bar:nth-child(3),
.menu-button-label2 .white-bar:nth-child(2),
.menu-button-label2 .white-bar:nth-child(3) {
    top: 47%;
}
.menu-button-label .white-bar:nth-child(4),
.menu-button-label2 .white-bar:nth-child(4) {
    top: 71%;
}
#menuButton,
#menuButton2 {
    display: none;
}
#menuButton:checked + .menu-button-label .white-bar:nth-child(1),
#menuButton:checked + .menu-button-label .white-bar:nth-child(4),
#menuButton2:checked + .menu-button-label2 .white-bar:nth-child(1),
#menuButton2:checked + .menu-button-label2 .white-bar:nth-child(4) {
    width: 0%;
}
#menuButton:checked + .menu-button-label .white-bar:nth-child(2),
#menuButton2:checked + .menu-button-label2 .white-bar:nth-child(2) {
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
#menuButton:checked + .menu-button-label .white-bar:nth-child(3),
#menuButton2:checked + .menu-button-label2 .white-bar:nth-child(3) {
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
}

/* Sub menu based on https://codepen.io/stevenrzy/pen/pogXXEB */
.sub-menu-icon {
    z-index: 2;
}
.sub-menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #e78533;
    margin-bottom: 8px;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background-color 0.5s ease;
    transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
}
.sub-menu-icon__line-left {
    width: 15px;
}
.sub-menu-icon__line-right {
    width: 15px;
    float: right;
}

.sub-nav {
    position: fixed;
    z-index: 7;
}
.sub-nav:before,
.sub-nav:after {
    content: "";
    position: fixed;
    width: 100vw;
    height: 80vh;
    background: rgba(234, 234, 234, 0.2);
    z-index: -1;
    -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
    -webkit-transform: translateX(0%) translateY(-100%);
    transform: translateX(0%) translateY(-100%);
}
.sub-nav:after {
    background: #fdfdfd;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.sub-nav:before {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.sub-nav__content {
    position: fixed;
    top: 50%;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: calc(2vw + 10px);
    font-weight: 200;
    cursor: pointer;
}
.sub-nav__list-item {
    position: relative;
    display: inline-block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease;
    transition: opacity 0.2s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
    margin-right: 25px;
}
.sub-nav__list-item:before {
    content: "";
    position: absolute;
    background: #000000;
    width: 20px;
    height: 1px;
    top: 100%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
.sub-nav__list-item:hover:before {
    width: 100%;
}

body.sub-nav-active .menu-icon__line {
    background-color: #000;
    -webkit-transform: translateX(0px) rotate(-45deg);
    transform: translateX(0px) rotate(-45deg);
}
body.sub-nav-active .menu-icon__line-left {
    -webkit-transform: translateX(1px) rotate(45deg);
    transform: translateX(1px) rotate(45deg);
}
body.sub-nav-active .menu-icon__line-right {
    -webkit-transform: translateX(-2px) rotate(45deg);
    transform: translateX(-2px) rotate(45deg);
}
body.sub-nav-active .sub-nav {
    visibility: visible;
}
body.sub-nav-active .sub-nav:before,
body.sub-nav-active .sub-nav:after {
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
}
body.sub-nav-active .sub-nav:after {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
body.sub-nav-active .sub-nav:before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
body.sub-nav-active .sub-nav__list-item {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
    transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}
body.sub-nav-active .sub-nav__list-item:nth-child(0) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
body.sub-nav-active .sub-nav__list-item:nth-child(1) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
body.sub-nav-active .sub-nav__list-item:nth-child(2) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
body.sub-nav-active .sub-nav__list-item:nth-child(3) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
body.sub-nav-active .sub-nav__list-item:nth-child(4) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.rela-block {
    display: block;
    position: relative;
    overflow: hidden;
}
.cover-before::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.page-header {
    height: 100px;
    background-color: #1a1a1a;
}

.featured-artist-img img {
    width: inherit;
}

.home {
    min-height: 800px;
    background-size: 424px 600px;
    background-color: #1a1a1a;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.7);
}

.absolute-center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 300;
    line-height: 52px;
    letter-spacing: 10px;
}
. .hover-pointer {
    position: absolute;
    top: 80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: left;
    width: 90%;
    max-width: 500px;
}

.footer {
    min-height: 100px;
    background-color: #282828;
    box-sizing: border-box;
    border-top: 6px solid #e78533;
    color: #fff;
}

.footer-links-container {
    display: -webkit-box;
    display: flex;
    width: 90%;
    max-width: 950px;
    margin: 30px auto 80px;
    text-align: center;
}
.footer-links-container .footer-flex-column {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 0;
    text-align: center;
    border-right: 1px solid #555;
}

.footer-links-container .footer-flex-column li:hover {
    color: #999;
}

/* Slider Button - https://codepen.io/mrnathan8/pen/wvaJREX */
@mixin magnetic($timeing) {
    transition: all $timeing cubic-bezier(0.615, 0, 0.07, 1);
}

.slider-btn {
    text-decoration: none;
    color: #161616;
    text-transform: uppercase;
    position: relative;
    margin-left: 2em;
    padding: 5px 23px 5px 10px;
    z-index: 1;
    transition: all 0.6s ease;
}
.slider-btn:before {
    content: "";
    position: absolute;
    z-index: 1;
    left: -3em;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #161616;
    width: 2.6em;
    height: 2.6em;
    border-radius: 5em;
    transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
}
.slider-btn:after {
    color: #fff;
    content: "+";
    font-family: auto;
    font-size: 66px;
    position: absolute;
    z-index: 6;
    left: -0.92em;
    top: 0;
    bottom: 0;
    margin-left: 5px;
    height: 30px;
}
.slider-btn:hover {
    transition: all 0.6s ease;
    transition-delay: 0.3s;
    color: #fff;
    z-index: 6;
}
.slider-btn:hover:before {
    z-index: -1;
    transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
    width: 140%;
}

@media screen and (max-width: 800px) {
    .fixed-nav-bar .logo {
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .deer-section {
        min-height: 660px;
        background-position: right bottom;
        background-size: 300px 425px;
    }
}
@media screen and (max-width: 500px) {
    .social-buttons-container {
        max-width: 200px;
    }
}
