{%extends 'base.html'%} {%load static%} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" charset="utf-8" />

<link rel="stylesheet" href="{% static 'css/sign_in.css' %}" type="text/css" charset="utf-8" />
{% endblock %} {% block page_header %}
<div class="page-header"></div>
{% endblock %}
<div class="container">
    <div class="row"></div>
    <div class="row justify-content-around text-center text-lg-left">
        <div class="align-self-center col-10 col-lg-7 mb-2 mt-3 offset-1 offset-lg-0 p-0 text-center">
            <!-- MultiStep Form based on https://bbbootstrap.com/snippets/multi-step-form-wizard-30467045 -->

            {% block body %} {% if messages %}
            <div>
                <strong>Messages:</strong>
                <ul>
                    {% for message in messages %}
                    <li>{{message}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            <div>
                <strong>Menu:</strong>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                    {% else %}
                    <li><a href="{% url 'account_login' %}">Sign In</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
            {% block content %} {% endblock %} {% endblock %}
        </div>
    </div>
</div>

{% block extra_body %} {% endblock %}
