{% extends "account/base.html" %} {% load i18n %} {%load static%}{% block head_title %}{% trans "Signup" %}{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cards.css' %}" type="text/css" charset="utf-8" />

<link rel="stylesheet" href="{% static 'css/sign_in.css' %}" type="text/css" charset="utf-8" />
{% endblock %}{% block inner_content %}
<div class="container-fluid justify-content-center">
    <div class="row justify-content-center mt-0">
        <div class="card px-0 pb-0 mb-3 col-11 col-lg-6" id="signup">
            <div class="col-12">
                <h1 class="my-5 mx-1 text-center text-uppercase">{% trans "Password Reset" %}</h1>
                <form id="signup_form" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}

                    <!-- fieldsets -->
                    <div class="align-self-center">
                        <ul id="progressbar">
                            <li class="active" id="account"><strong>Account</strong></li>
                        </ul>
                    </div>
                    <div>
                        {% if user.is_authenticated %} {% include "account/snippets/already_logged_in.html" %}
                        <hr />
                        {% endif %}
                        <p class="mb-5">If you have not created an account yet, then please <a href="{% url 'signup_url' %}">sign up</a> first.</p>
                        <p class="mb-5">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                        {{ form|crispy }}
                        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

                        <div class="row justify-content-around mt-3">
                            <div class="col-12 col-md-5 col-lg-3 ml-3 my-3">
                                <div class="wrap">
                                    <a class="slider-btn slider-btn-home ml-3" href="{% url 'home' %}">Home</a>
                                </div>
                            </div>
                            <div class="col-12 col-md-5 col-lg-3 my-3">
                                <div class="wrap">
                                    <button class="slider-btn slider-btn-reset text-nowrap" type="submit" value="{% trans 'Reset My Password' %}">{% trans 'Reset' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
